@use "../../color";

.header-app {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5.5rem;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #FBFBFB !important;

  &__logo {
    margin: auto 0;
  }

  &__btn {
    background-color: color.$blue !important;
    color: white;

    &:hover {
      background-color: color.$blue_hover !important;
    }
  }

  &__part {
    &-search {
      display: flex;
      align-items: center;
    }

    &-control {
      display: flex;
      align-items: center;
    }
  }
}